<header>
    <div class="header-wrapper">   
        <button class="menu-toggle" id="menu-toggle">
            <span class="menu-icon"></span>
            <span class="menu-icon"></span>
            <span class="menu-icon"></span>
        </button>
        <div>
            <a href="../html/home.html">
                <img src="/image/logo.svg" alt="logo" class="logo">
            </a>
        </div>
        <ul class="header-ul" id="header-ul">
            <li><a href="#" class="menu-link">Giới thiệu</a></li>
            <li><a href="#" class="menu-link">Dịch vụ</a></li>
            <li><a href="#" class="menu-link">Sản phẩm</a></li>
            <li><a href="#" class="menu-link">Bí quyết làm đẹp</a></li>
            <li><a href="#" class="menu-link">Tin tức sự kiện</a></li>
            <li><a href="#" class="menu-link">Giảm giá</a></li>
            <li><a href="../html/contact.html" class="menu-link">Liên hệ</a></li>
        </ul>
        <div class="seach">
            <img src="/image/search.svg" alt="Tìm kiếm" class="logo-search">
        </div>
    </div>
</header>