<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>

    <link rel="icon" href="/image/icon_web.jpg" type="image/x-icon">
    <link rel="shortcut icon" href="/image/icon_web.jpg"type="image/x-icon">

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
    <div class="container">
            <!-- Include header -->
        <%- include('../partials/header') %>
        <main>
            <section>
                <div class="slide-wrapper">
                    <div class="slideshow-container">
                        <div class="mySlides fade">
                        <img src="/image/header-anh1.jpg" style="width:100%" class="img-SlideShow">
                        </div>
                        <div class="mySlides fade">
                        <img src="/image/header-anh2.jpg" style="width:100%" class="img-SlideShow">
                        </div>
                        <div class="mySlides fade">
                        <img src="/image/header-anh3.jpg" style="width:100%" class="img-SlideShow">
                        </div>
        
                        <!-- Nút điều khiển -->
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                </div>
            </section>
            <div class="content-1">
                <div class="content-1__box-1">
                    <div class="title">
                        <div>
                            <h1 class="justify-text"">TẠI SAO LẠI CHỌN VIỆN THẨM MỸ DIVA</h1>
                        </div>
                        <div>
                            <button class="custom-button">Xem chi tiết</button>
                        </div>
                    </div>
                    <div class="text color-1 justify-text">
                        DIVA ACADEMY - Học viện thẩm mỹ hàng đầu tại Việt Nam. Đã giúp cho hàng ngàn học viên thực hiện ước mơ chinh phục ngành 
                        làm đẹp, mang lại giá trị thiết thực cho cộng đồng và xã hội. Với đội ngũ giảng viên giàu kinh nghiệm và trang thiết bị hiện 
                        đại, học viện cam kết đào tạo ra những chuyên viên thẩm mỹ chuyên nghiệp và tài năng.
                    </div>
                    <div class="option d-flex">
                        <div class="option_box d-flex effect">
                            <a href="#">
                                <img src="/image/option_box1.svg" alt="Error!">
                                <h3>Đội ngũ giảng viên</h3>
                                <p>
                                    Chuyên nghiệp
                                    <br>
                                    Giàu kinh nghiệm
                                </p>
                            </a>
                            <span class="number-about">01</span>
                        </div>
                        <div class="option_box d-flex effect">
                            <a href="#">
                                <img src="/image/option_box2.svg" alt="Error!">
                                <h3>Cơ sở vật chất</h3>
                                <p>
                                    Khang trang
                                    <br>
                                    Công nghệ hiện đại
                                </p>
                            </a>
                            <span class="number-about">02</span>
                        </div>
                        <div class="option_box d-flex effect">
                            <a href="#">
                                <img src="/image/option_box3.svg" alt="Error!">
                                <h3>Đa dạng khóa học</h3>
                                <p>
                                    > 80% Thực hành
                                    <br>
                                    Đón đầu xu hướng
                                </p>
                            </a>
                            <span class="number-about">03</span>
                        </div>
                        <div class="option_box d-flex effect">
                            <a href="#">
                                <img src="/image/option_box4.svg" alt="Error!">
                                <h3>Cam kết việc làm</h3>
                                <p>
                                    Thu nhập cao
                                    <br>
                                    Ổn định cuộc sáng
                                </p>
                            </a>
                            <span class="number-about">04</span>
                        </div>
                    </div>
                </div>
                <div class="content-1__box-2">
                    <div class="title">
                        <div>
                            <h1 class="justify-text"">KHÓA HỌC ĐANG TUYỂN SINH TẠI DIVA ACADEMY</h1>
                        </div>
                        <div>
                            <button class="custom-button">Xem chi tiết</button>
                        </div>
                    </div>
                    <div class="text color-1 justify-text">
                        Diva Academy hiện đang tuyển sinh các khóa học chuyên sâu về làm đẹp, bao gồm trang điểm, làm
                        tóc, nail, chăm sóc da và quản lý Spa. Với đội ngũ giảng viên giàu kinh nghiệm và chương trình học bài bản, chúng tôi cam kết mang đến
                        cho bạn môi trường học tập hiện đại, giúp bạn phát triển kỹ năng và tự tin trong sự nghiệp.
                    </div>
                    <div class="option1 d-flex">
                        <div class="option1_box effect">
                            <div>
                                <img src="/image/option1_box1.jpg" alt="Error!" class="option1_box__image">
                            </div>
                            <div class="" style="padding: 10px;">
                                <div class="option1_box__title">
                                    <h3>Khóa học chăm sóc da cơ bản đến chuyên sâu</h3>
                                </div>
                                <div class="option1_box__text">
                                    <p>
                                        Khóa học chăm sóc da được phân chia thành nhiều cấp độ khó từ cơ bản, nâng cao đến chuyên sâu, phù hợp với nhiều đối tượng học viên khác nhau.
                                         Điều này giúp đảm bảo rằng tất cả học viên đều có thể tiếp thu kiến thức một cách hiệu quả.
                                    </p>
                                    <ul class="option1__icon">
                                        <li><img src="/image/icon1.svg" alt="Error!" style="max-width: 10%;height: auto;"> 25 - 40 buổi học</li>
                                        <li><img src="/image/icon2.svg" alt="Error!" style="max-width: 17%;height: auto;"> 3 - 5 tháng</li>
                                        <li><img src="/image/icon3.svg" alt="Error!" style="max-width: 17%;height: auto;"> 30 bài học</li>
                                    </ul>
                                    <div class="d-flex">
                                        <button class="custom-button">Xem chi tiết</button>
                                        <button class="custom-button custom-button1">Tư vấn ngay</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="option1_box effect">
                            <div>
                                <img src="/image/option1_box2.jpg" alt="Error!" class="option1_box__image">
                            </div>
                            <div class="" style="padding: 10px;">
                                <div class="option1_box__title">
                                    <h3>Khóa học spa đào tạo kỹ thuật viên spa</h3>
                                </div>
                                <div class="option1_box__text">
                                    <p>
                                        Khóa học spa chuyên nghiệp là chương trình đào tạo bài bản, cung cấp cho học viên kiến thức nền tảng vững chắc cũng như rèn 
                                        luyện các kỹ năng thiết yếu trong nghề để trở thành kỹ thuật viên spa chuyên nghiệp và gặt hái nhiều thành công.

                                    </p>
                                    <ul class="option1__icon">
                                        <li><img src="/image/icon1.svg" alt="Error!" style="max-width: 10%;height: auto;"> 20 - 25 buổi học</li>
                                        <li><img src="/image/icon2.svg" alt="Error!" style="max-width: 17%;height: auto;"> 3 - 7 tháng</li>
                                        <li><img src="/image/icon3.svg" alt="Error!" style="max-width: 17%;height: auto;"> 40 bài học</li>
                                    </ul>
                                    <div class="d-flex">
                                        <button class="custom-button">Xem chi tiết</button>
                                        <button class="custom-button custom-button1 ">Tư vấn ngay</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="option1_box effect">
                            <div>
                                <img src="/image/option1_box3.jpg" alt="Error!" class="option1_box__image">
                            </div>
                            <div class="" style="padding: 10px;">
                                <div class="option1_box__title">
                                    <h3>Khóa học phun xăm thẩm mỹ chất lượng</h3>
                                </div>
                                <div class="option1_box__text">
                                    <p>
                                        Khóa học phun xăm thẩm mỹ gồm nhiều lớp học từ cơ bản đến chuyên sâu, cung cấp cho học viên kiến thức nền tảng vững chắc 
                                        về phun xăm, cũng như rèn luyện tay nghề cao về chuyên môn. Giúp học viên nhanh chóng tự tin khi bước vào nghề.

                                    </p>
                                    <ul class="option1__icon">
                                        <li><img src="/image/icon1.svg" alt="Error!" style="max-width: 10%;height: auto;"> 20 - 25 buổi học</li>
                                        <li><img src="/image/icon2.svg" alt="Error!" style="max-width: 17%;height: auto;"> 3 - 7 tháng</li>
                                        <li><img src="/image/icon3.svg" alt="Error!" style="max-width: 17%;height: auto;"> 40 bài học</li>
                                    </ul>
                                    <div class="d-flex">
                                        <button class="custom-button">Xem chi tiết</button>
                                        <button class="custom-button custom-button1 ">Tư vấn ngay</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="option1_box effect">
                            <div>
                                <img src="/image/option1_box4.jpg" alt="Error!" class="option1_box__image">
                            </div>
                            <div class="" style="padding: 10px;">
                                <div class="option1_box__title">
                                    <h3>Khóa học spa đào tạo kỹ thuật viên spa</h3>
                                </div>
                                <div class="option1_box__text">
                                    <p>
                                        Khóa học spa chuyên nghiệp là chương trình đào tạo bài bản, cung cấp cho học viên kiến thức nền tảng vững chắc cũng như rèn 
                                        luyện các kỹ năng thiết yếu trong nghề để trở thành kỹ thuật viên spa chuyên nghiệp và gặt hái nhiều thành công.

                                    </p>
                                    <ul class="option1__icon">
                                        <li><img src="/image/icon1.svg" alt="Error!" style="max-width: 10%;height: auto;"> 20 - 25 buổi học</li>
                                        <li><img src="/image/icon2.svg" alt="Error!" style="max-width: 17%;height: auto;"> 3 - 7 tháng</li>
                                        <li><img src="/image/icon3.svg" alt="Error!" style="max-width: 17%;height: auto;"> 40 bài học</li>
                                    </ul>
                                    <div class="d-flex">
                                        <button class="custom-button">Xem chi tiết</button>
                                        <button class="custom-button custom-button1 ">Tư vấn ngay</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                    
            </div>
        </main>
        <!-- Include footer -->
        <%- include('../partials/footer') %>
    </div>
    <script src="/javascript/header.js"></script>
    <script src="/javascript/process.js"></script>
    <script src="/javascript/slide-show.js"></script>
</body>
</html>