<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới thiệu</title>
    <link rel="icon" href="/image/icon_web.jpg" type="image/x-icon">
    <link rel="shortcut icon" href="/image/icon_web.jpg"type="image/x-icon">

    <link rel="stylesheet" href="/css/introduce.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
    <div class="container">
        <!-- Include header -->
        <%- include('../partials/header') %>
        <main>

        </main>
        <!-- Include footer -->
        <%- include('../partials/footer') %>
    </div>
</body>
</html>