<footer class="footer">
    <div class="footer__container">
        <div class="row">
            <div class="footer-col">
                <h4>
                    Company
                </h4>
                <ul class="footer-ul">
                    <li><a href="#">Về chúng tôi</a></li>
                    <li><a href="#">Dịch vụ của chúng tôi</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Chương trình liên kết</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>
                    Get help
                </h4>
                <ul class="footer-ul">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Vận chuyển</a></li>
                    <li><a href="#">Trả về</a></li>
                    <li><a href="#">Trạng thái đơn hàng</a></li>
                    <li><a href="#">Tùy chọn thanh toán</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>
                    Online shop
                </h4>
                <ul class="footer-ul">
                    <li><a href="#">Túi đeo</a></li>
                    <li><a href="#">Giày</a></li>
                    <li><a href="#">Quần áo</a></li>
                    <li><a href="#">Chân váy</a></li> 
                </ul>
            </div>
            <div class="footer-col">
                <h4>
                    Follow us
                </h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-envelope"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
