<header>
    <div class="header-wrapper" id="header-wrapper">   
        <button class="burger-btn js-burger-btn">
            <span class="inner">
                <span class="back">
                    <i class="fa fa-times"></i>
                </span>
                <span class="front">
                    <i class="fa fa-bars"></i>
                </span>
            </span>
        </button>
        <div>
            <a href="/home">
                <img src="/image/logo.svg" alt="logo" class="logo">
            </a>
        </div>
        <ul class="header-ul" id="header-ul">
            <li><a href="#" class="menu-link">Giới thiệu</a></li>
            <li><a href="#" class="menu-link">Dịch vụ</a></li>
            <li><a href="#" class="menu-link">Sản phẩm</a></li>
            <li><a href="#" class="menu-link">Bí quyết làm đẹp</a></li>
            <li><a href="#" class="menu-link">Tin tức sự kiện</a></li>
            <li><a href="#" class="menu-link">Giảm giá</a></li>
            <li><a href="/contact" class="menu-link">Liên hệ</a></li>
        </ul>
        <div class="seach">
            <img src="/image/search.svg" alt="Tìm kiếm" class="logo-search">
        </div>
    </div>
</header>