header{
    padding: 0.8rem;
    /* background-color: aliceblue; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.header-wrapper{
    display: flex;
    justify-content: space-around;
}
div{
    display: block;
}
.header-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}
img{
    width: 60%;
    height: auto;
}
img.logo{
    width: 120%;
    height: auto;
}

/* responsive menu */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
}
.menu-icon {
    display: block;
    width: 25px;
    height: 3px;
    background: #333;
    margin: 5px 0;
}


/* Media Query cho màn hình nhỏ */
@media (max-width: 1300px) {
    .header-ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 10%;
        left: 0;
        width: 100%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.5); /* màu nền với độ trong suốt */
        backdrop-filter: blur(3px); /* áp dụng hiệu ứng mờ */
        z-index: 1;
        padding: 15px;
    }
    .header-ul a{
        transition: all 0.5s ease;
        transition: font-size 0.3s ease;
        /*  biến tất cả chữ cái đầu tiên của mỗi từ trong một phần tử thành chữ hoa */
        text-transform: capitalize;
    }
    .header-ul.active {
        display: flex;
    }
    .menu-toggle {
        display: block;
    }
    .header-wrapper{
        justify-content: space-between;
        align-items: center;
    }
    .header-ul a:hover{
        color: #f3ad2b;
        font-size: 24px;
        font-weight: 600;
    }
}

/* -------------------------------------------------------- */
/* Variable */
:root {
    --font-size: 1.1rem;
    --font-weight: 500;
    --text-color: #1e1b16;
}

.menu-link {
    font-size: var(--font-size); 
    font-weight: var(--font-weight); 
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color); 
}

