header{
    padding: 0.8rem;
    /* background-color: aliceblue; */
}
.header-wrapper{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.top-bar, .seach{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div{
    display: block;
}
.header-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}
img{
    width: 60%;
    height: auto;
}
img.logo{
    width: 120%;
    height: auto;
}

/* responsive menu */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
}
.menu-icon {
    display: block;
    width: 25px;
    height: 3px;
    background: #333;
    margin: 5px 0;
}
/* Media Query cho màn hình nhỏ */
@media (max-width: 768px) {
    .header-ul {
        display: none;
        flex-direction: column;
        background: #fff;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .header-ul.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}

/* -------------------------------------------------------- */
/* Variable */
:root {
    --font-size: 1.1rem;
    --font-weight: 500;
    --text-color: #1e1b16;
}

.menu-link {
    font-size: var(--font-size); 
    font-weight: var(--font-weight); 
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color); 
}

